<h2>Student Profile</h2>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <p>
    <label>Name:</label><br>

    <input type="text" formControlName="name">

    <span
      *ngIf="
        profileForm.get('name')?.touched &&
        profileForm.get('name')?.invalid
      ">
      Name is required
    </span>

  </p>

  <p>
    <label>Email:</label><br>

    <input type="email" formControlName="email">

    <span
      *ngIf="
        profileForm.get('email')?.touched &&
        profileForm.get('email')?.errors?.['required']
      ">
      Email is required
    </span>

    <span
      *ngIf="
        profileForm.get('email')?.touched &&
        profileForm.get('email')?.errors?.['email']
      ">
      Enter a valid email
    </span>

  </p>

  <p>
    <label>Semester:</label><br>

    <input type="number" formControlName="semester">

    <span
      *ngIf="
        profileForm.get('semester')?.touched &&
        profileForm.get('semester')?.errors?.['required']
      ">
      Semester is required
    </span>

    <span
      *ngIf="
        profileForm.get('semester')?.touched &&
        (profileForm.get('semester')?.errors?.['min'] ||
         profileForm.get('semester')?.errors?.['max'])
      ">
      Semester must be between 1 and 8
    </span>

  </p>

  <button
    type="submit"
    [disabled]="profileForm.invalid">

    Submit

  </button>

</form>