<h2>Course List</h2>

<input
  type="text"
  placeholder="Search courses..."
  [(ngModel)]="searchTerm">

<br><br>

<div *ngIf="loading">

  <p>Loading courses...</p>

</div>

<div *ngIf="!loading">

  <div *ngIf="filteredCourses.length === 0">

    <p>No courses found</p>

  </div>

  <div *ngIf="filteredCourses.length > 0">

    <app-course-card
      *ngFor="let course of filteredCourses"
      [name]="course.name"
      [code]="course.code"
      [credits]="course.credits"
      [grade]="course.grade">
    </app-course-card>

  </div>

</div>